#contato, #login{
	font-family: $font_second;
	.modal-header{
		background-color: $color_1;
		font-family: $font_first;
		color: #fff;
		border-bottom: 1px solid $color_2;
	}

	button.close{
		outline: none;
	}

	.control-labe{
		font-family: $font_first;
	}

	.form-control{
		box-shadow: none;
		&:focus{
			border-color:#ccc;
		}
	}
	.btn{
		outline: none;
		padding:7px 15px;
		font-size: 14px;
	    &:hover, &:focus{
        background-color: $color_1;
        border:1px solid $color_2;
      }
	}

	#btn-register{
		background-color: #333;
		border: 1px solid #000;
	}
}