.navbar-default{
	background-color:$color_1;
	border-color: $color_2;

	.navbar-nav{
	 li{
	   	 a{
	   	 	transition: background-color 0.3s linear;			
			font:lighter 15px $font_first;
			color: $font_color_main;
			&:hover, &:focus{
				color: $font_color_main;
				outline: none;

			}

			&:hover{
			 	transition: none;
				background-color: #9A1D29;
			}

			.glyphicon{
				float: left;
				margin: -4px 10px 0 0;
				font-size: 25px;
			}
		}	
	  }	

		>.active>a{
			border-radius: 2px;
			background-color: #9A1D29;
			color: $font_color_main;
			padding-right: 18px;
			&:hover, &:focus{
				background-color: #9A1D29;
				color: $font_color_main;
			}
		}
	}
	.navbar-toggle .icon-bar{
		background-color: $font_color_main;
		border-color: $font_color_main;
	}

	.navbar-toggle{
		border-color: $font_color_main;
		&:hover, &:focus{
			background-color:#9A1D29;
		}
	}
	.navbar-collapse{
		border: none;
	}
}