div.container{
	div.content{	

	#content-post{
		padding:15px;
		color: #fff;
		font:lighter 16px $font_second;
		color:$font_color_main;
	}

	section#post{
		@include make-md-column(8);
		height: auto;
		background-color: $color_3;
		border-radius: 2px;
		margin-bottom: 100px;
		padding:0;
		>div#header{
			width:100%;
			min-height: 50px;
			background-color: $color_1;
			border: 1px solid $color_2;
			border-radius: 2px;
			padding: 11px 10px;
			font:lighter 20px $font_first;
			color: $font_color_main;
			overflow: auto;
			>#icons{
				float: right;
				font-size: 14px;
				margin-top: 5px;
				>.glyphicon{
					cursor: pointer;
				}
				>.glyphicon-comment{
					margin-left: 15px;
				}
				>.glyphicon-heart:hover{
					color:$color_2;
				}
			}
		}
	}
  }
}