@media(max-width: 768px){
	.input-group{
		display: block;
	}

	#search-container__form{
		margin: 15px;
	}

	.img_slider{
		&:hover{
			box-shadow: none;
		}
		margin-left: 150px;
	}

	.img_slider img, .inside_imagem{
		margin-left: 10px;
	}
	div.box_lancamento{
		overflow: auto;
	}
	#favoritos{
		margin-top: 100px;
	}

	#content_comentarios{
		padding:0;
	}
	#comentarios #content_comentarios{
		padding:15px 25px;
	}

	#comentar textarea{
		width:100%;
	}

	span#icons{
		margin:5px 0;
		float: left;
	}
}

@media(min-width: 768px){
  #search-container__form{
	margin-top: 54px;
 }

	span#icons{
	float: right;
	font-weight: lighter;
	>.glyphicon-comment{
		margin-left: 5px;
	}
	>.glyphicon-thumbs-up{
		cursor: pointer;
		&:hover{
			color:$color_2;
		}
	}
}
 	#content_comentarios{
		padding:15px 30px;
	}

}

@media(min-width: 994px){
.img_slider:hover{
 	width:285px;
 	height: 425px;
	 >img{
	      width:285px;
	      height: 425px;
	    }

    >.inside_imagem{
	top:75%;
		>span{
			margin-bottom: 8px;
		}
 	}
 }

}